@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#Div {
	left: 0px;
	position: absolute;
	top: 0px;
	margin-bottom: 0;
	background-color: #999;
	width: 885px;
	padding-top: 0px;
	height: 64px;
}
html > body #Div {
	height: auto;
	min-height: 65px;
}
#Div2 {
	left: 13px;
	position: absolute;
	top: 9px;
	margin-bottom: 0;
	background-color: #fff;
	width: 51px;
	padding-top: 0px;
	height: 48px;
}
html > body #Div2 {
	height: auto;
	min-height: 49px;
}
.Txt_Home {
	font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
	font-size: 200%;
	text-align: center;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 91px;
	position: absolute;
	top: 19px;
	margin-bottom: 0;
}
#Div3 {
	left: 31px;
	position: absolute;
	top: 110px;
	margin-bottom: 0;
	background-color: #c90;
	width: 348px;
	padding-top: 0px;
	height: 336px;
}
html > body #Div3 {
	height: auto;
	min-height: 337px;
}
#Div4 {
	left: 39px;
	position: absolute;
	top: 123px;
	margin-bottom: 0;
	background-color: #fff;
	width: 348px;
	padding-top: 0px;
	height: 350px;
}
html > body #Div4 {
	height: auto;
	min-height: 351px;
}
#Div5 {
	left: 132px;
	position: absolute;
	top: 150px;
	margin-bottom: 0;
	background-color: #c90;
	width: 266px;
	padding-top: 0px;
	height: 336px;
}
html > body #Div5 {
	height: auto;
	min-height: 337px;
}
.Txt_Bahamz {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 487px;
	position: absolute;
	top: 164px;
	margin-bottom: 0;
}
.Txt_Lorem {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 140%;
	font-weight: bold;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 499px;
	position: absolute;
	top: 226px;
	margin-bottom: 0;
}
#Div6 {
	left: 474px;
	position: absolute;
	top: 349px;
	margin-bottom: 0;
	background-color: #cd9a03;
	width: 284px;
	padding-top: 0px;
	height: 75px;
}
html > body #Div6 {
	height: auto;
	min-height: 76px;
}
.Txt_CONTACT {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 300%;
	font-weight: bold;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 512px;
	position: absolute;
	top: 368px;
	margin-bottom: 0;
}
#Div7 {
	left: 321px;
	position: absolute;
	top: 516px;
	margin-bottom: 0;
	background-color: #d6d6d6;
	width: 243px;
	padding-top: 0px;
	height: 166px;
}
html > body #Div7 {
	height: auto;
	min-height: 167px;
}
#Div8 {
	left: 592px;
	position: absolute;
	top: 516px;
	margin-bottom: 0;
	background-color: #d6d6d6;
	width: 243px;
	padding-top: 0px;
	height: 166px;
}
html > body #Div8 {
	height: auto;
	min-height: 167px;
}
#Div9 {
	left: 39px;
	position: absolute;
	top: 516px;
	margin-bottom: 0;
	background-color: #d6d6d6;
	width: 243px;
	padding-top: 0px;
	height: 166px;
}
html > body #Div9 {
	height: auto;
	min-height: 167px;
}
#Div10 {
	left: 595px;
	position: absolute;
	top: 703px;
	margin-bottom: 0;
	background-color: #a28335;
	width: 237px;
	padding-top: 0px;
	height: 60px;
}
html > body #Div10 {
	height: auto;
	min-height: 61px;
}
#Div11 {
	left: 321px;
	position: absolute;
	top: 704px;
	margin-bottom: 0;
	background-color: #a28335;
	width: 237px;
	padding-top: 0px;
	height: 60px;
}
html > body #Div11 {
	height: auto;
	min-height: 61px;
}
#Div12 {
	left: 45px;
	position: absolute;
	top: 704px;
	margin-bottom: 0;
	background-color: #a28335;
	width: 237px;
	padding-top: 0px;
	height: 60px;
}
html > body #Div12 {
	height: auto;
	min-height: 61px;
}
.Txt_Graphic {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 180%;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 88px;
	position: absolute;
	top: 723px;
	margin-bottom: 0;
}
.Txt_Graphic2 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 180%;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 370px;
	position: absolute;
	top: 723px;
	margin-bottom: 0;
}
.Txt_Graphic3 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 180%;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 641px;
	position: absolute;
	top: 723px;
	margin-bottom: 0;
}
#Div13 {
	left: 0px;
	position: absolute;
	top: 794px;
	margin-bottom: 0;
	background-color: #d6d6d6;
	width: 885px;
	padding-top: 0px;
	height: 257px;
}
html > body #Div13 {
	height: auto;
	min-height: 258px;
}
#Div14 {
	left: 589px;
	position: absolute;
	top: 840px;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #fff;
	width: 224px;
	padding-top: 0px;
	height: 166px;
}
html > body #Div14 {
	height: auto;
	min-height: 165px;
}
.Txt_We {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 200%;
	text-align: left;
	color: #a28335;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 166px;
	position: absolute;
	top: 886px;
	margin-bottom: 0;
}
.Txt_ {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 14px;
	position: absolute;
	top: 903px;
	margin-bottom: 0;
}
.Txt_ {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 851px;
	position: absolute;
	top: 912px;
	margin-bottom: 0;
}
#Line {
	left: 319px;
	position: absolute;
	top: 1112px;
	margin-bottom: 0;
	border-left: 1px solid #d6d6d6;
	height: 1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#Line2 {
	left: 319px;
	position: absolute;
	top: 1112px;
	margin-bottom: 0;
	border-left: 1px solid #d6d6d6;
	height: 1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#Line3 {
	left: 889px;
	position: absolute;
	top: 1147px;
	margin-bottom: 0;
	border-left: 1px solid #d6d6d6;
	height: 1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#Line4 {
	left: 293px;
	position: absolute;
	top: 1153px;
	margin-bottom: 0;
	border-left: 1px solid #d6d6d6;
	height: 1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.Txt_© {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #999;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 16px;
	position: absolute;
	top: 1156px;
	margin-bottom: 0;
}
